@import url(reset.css);


.bloq{
    width: 40rem;
    margin-inline: auto;
}


.liste{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}


a{
    font-size: x-large;
}

iframe{
    width: 100%;
}